<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>euphoricblast</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="/styles/font-awesome.min.css" rel="stylesheet">

		<link href="/styles/ekko-lightbox.css" rel="stylesheet">
		

	</head>
	<body>
		<div id="header">
			<div class="container-fluid">
				<div class="row">
				<div role="navigation" class="navbar navbar-default navbar-polygon">
					<div class="container">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<div class="navbar-logo-container">
								<!--<img src="/images/euphoric_blast_logo_white_blue_50_50.png" width="50" height="50"/>-->

<svg version="1.1" id="euphoric_blast_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
<polygon id="Eye_right" class="logo_highlight" points="496.805,428 619.806,428 558.558,366.289 "/>
<polygon id="Eye_left" class="logo_highlight" points="180.114,428 303.115,428 241.867,366.289 "/>
<path id="Mouth" class="logo_highlight" d="M399.268,659.722C337.86,659.722,241.614,623,241.614,574h316.691
	C558.305,623,460.676,659.722,399.268,659.722z"/>
<rect id="Diamond" x="358.966" y="300.774" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -124.542 382.9673)" class="logo_highlight" width="82.091" height="82.091"/>
<path id="Mouth_outter" class="logo_main" d="M77.337,463c0,165,144.083,299.281,321.818,299.281S720.973,628,720.973,463
	H77.337z M399.216,699.008C292.799,699.008,180.114,626,180.114,534h439.692C619.806,626,505.634,699.008,399.216,699.008z"/>
<polygon id="Arrows" class="logo_main" points="708.918,245.941 709.045,246.039 668.417,205.25 700.39,172.699 722,194.446 
	722,105 633.749,105 655.756,127.492 604,179.02 604,179.073 604,179.09 604,231.108 663.872,290.47 639.474,314.719 
	578.917,254.064 512.81,320.242 488.01,295.535 553.049,230.342 553.113,105 584.775,105 522.013,37.766 459.229,105 491,105 
	491,205.588 444.044,251.691 399.76,206.337 399.76,206.337 354.842,251.691 307,205.588 307,105 340.78,105 277.997,37.766 
	215.234,105 246.896,105 246.937,230.342 311.952,295.468 287.105,320.209 220.904,254.047 160.161,314.71 135.132,290.466 
	194,231.108 194,179.09 194,179.073 194,179.02 143.249,127.492 166.261,105 77,105 77,194.446 99.113,172.699 131.57,205.25 
	90.948,246.039 91.072,245.941 46.665,290.338 159.929,403.603 159.985,403.695 241.838,321.867 343.858,428 387.714,428 
	371.539,407.999 315.533,350.982 307.335,341.182 399.998,248.314 492.675,341.211 484.476,350.977 440.536,397.133 412.714,428 
	455.688,428 557.939,321.867 639.908,403.762 640.021,403.637 753.312,290.355 "/>
</svg>


							</div>
							<div class="navbar-brand-container"><a href="/" class="navbar-brand">Euphoric <span class="brand-bold">Blast</span></a></div>
						</div>
						
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifSectionOrProject ../section key ../data.post.type}}class="active"{{/ifSectionOrProject}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right navbar-social navbar-collapse">
								<li><a href="#" title="Follow Us On Facebook"><i class="fa fa-facebook"></i></a></li>
      							<!--<li><a href="#" title="Follow Us On Google Plus"><i class="fa fa-twitter"></i></a></li>-->
      							<li><a href="https://www.youtube.com/channel/UCQKU0AE0r8wPtbwTFh846Hw" target="_blank" title="Follow Us On YouTube"><i class="fa fa-youtube"></i></a></li>
      							<!--<li><a href="#" title="Follow Us On Linked In"><i class="fa fa-vimeo"></i></a></li>-->
							</ul>
							<!--<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div id="{{bodyId}}">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
			{{>footer}}
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>		
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{#if cloudinaryResponsive}}
			<!--/////////////////////-->
			<!--CLOUDINARY RESPONSIVE-->
			<!--/////////////////////-->
			<script src="/js/cloudinary-core-shrinkwrap.js" type="text/javascript"></script>
			<script src="/js/cloudinary-responsive.js" type="text/javascript"></script>
		{{/if}}				
		
		{{#if lightbox}}
			<!--////////-->
			<!--LIGHTBOX-->
			<!--////////-->
			<script src="/js/ekko-lightbox.min.js" type="text/javascript"></script>		
			<script src="/js/lightbox-control.js" type="text/javascript"></script>
		{{/if}}

		{{#if carousel}}
			<!--////////-->
			<!--CAROUSEL-->
			<!--////////-->
			<script src="/js/carousel-control.js" type="text/javascript"></script>
		{{/if}}
		{{#if pageReloader}}
			<!--/////////////-->
			<!--PAGE RELOADER-->
			<!--/////////////-->
			<script src="/js/page-reloader.js" type="text/javascript"></script>
		{{/if}}
		{{#if data.post.video}}
			{{#ifcontains data.post.video 'youtu'}}
			<!--//////////////////-->
			<!--YOUTUBE AUTOPLAYER-->
			<!--//////////////////-->
			<script src="/js/youtube-control.js" type="text/javascript"></script>
			{{else}}
				{{#ifcontains data.post.video 'vimeo'}}
				<!--////////////////-->
				<!--VIMEO AUTOPLAYER-->
				<!--////////////////-->			
				<script src="/js/vimeo-player.js"></script>
				<script src="/js/vimeo-control.js"></script>
				{{/ifcontains}}
			{{/ifcontains}}	
			<script src="/js/video-player-resizer.js" type="text/javascript"></script>			
		{{/if}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
