<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="{{{getMetaDescription section filters.category data.post.title data.post.type data.post.content.brief}}}" />
		<meta name="keywords" content="{{{getMetaKeywords section filters.category data.post.title data.post.type data.post.content.brief}}}" />
		<meta name="author" content="Mangosh Prunier">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="2 days">
		<title>Euphoric Blast - London Creative Studio</title>
		<!-- interactive design,virtual reality,3d -->

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=wAOJMa9XLG">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=wAOJMa9XLG">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=wAOJMa9XLG">
		<link rel="manifest" href="/site.webmanifest?v=wAOJMa9XLG">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=wAOJMa9XLG" color="#333333">
		<link rel="shortcut icon" href="/favicon.ico?v=wAOJMa9XLG">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:title" content="Euphoric Blast - London Creative Studio">
		<meta property="og:description" content="{{{getMetaDescription section filters.category data.post.title data.post.type data.post.content.brief}}}">
		<meta property="og:url" content="http://www.euphoricblast.com">
		<meta property="og:image" content="{{{getFacebookOGImage section (cloudinaryUrl data.post.mainImage width='1200' height='628' q='70' crop='fill' gravity=data.post.mainImageCrop)}}}">

		<link href="/styles/site.min.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="/styles/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/ekko-lightbox.css" rel="stylesheet">
	</head>
	<body>
		<header>
		<div id="header">
			<nav>
			<div class="container-fluid">
				<div class="row">
					<div role="navigation" class="navbar navbar-default navbar-polygon">
						<div class="container">
							<div class="navbar-header">
								<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
								</button>
								<a href="/" class="navbar-double-link">
								<div class="navbar-logo-container"><div class="navbar-logo-container-rotate">{{>logo-svg}}</div></div>
								<div class="navbar-brand-container"><div class="navbar-brand">Euphoric <span class="brand-bold">Blast</span></div></div>
								</a>
							</div>
						
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav navbar-left">
										{{# each navLinks}}
										<li {{#ifSectionOrProject ../section key ../data.post.type}}class="active"{{/ifSectionOrProject}}>
											<a href="{{ href }}">{{ label }}</a>
										</li>
									{{/each}}
								</ul>
								<!--<ul class="nav navbar-nav navbar-right navbar-social navbar-collapse">
									<li><a href="#" title="Follow Us On Facebook"><i class="fa fa-facebook"></i></a></li>
	      							<li><a href="#" title="Follow Us On Google Plus"><i class="fa fa-twitter"></i></a></li>
	      							<li><a href="https://www.youtube.com/channel/UCQKU0AE0r8wPtbwTFh846Hw" target="_blank" title="Follow Us On YouTube"><i class="fa fa-youtube"></i></a></li>
	      							<li><a href="#" title="Follow Us On Linked In"><i class="fa fa-vimeo"></i></a></li>
								</ul>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
	</header>
		<div id="{{bodyId}}">
			{{#if messages}}
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			<section id="section-flash-messages">
				<div id="flash-messages" class="container">
					{{#if messages.info}}
					<div class="alert alert-info">
							{{{flashMessages messages.info}}}
					</div>
					{{/if}}
					{{#if messages.success}}
					<div class="alert alert-success">
							{{{flashMessages messages.success}}}
					</div>
					{{/if}}
					{{#if messages.warning}}
					<div class="alert alert-warning">
							{{{flashMessages messages.warning}}}
					</div>
					{{/if}}
					{{#if messages.error}}
					<div class="alert alert-danger">
							{{{flashMessages messages.error}}}
					</div>
					{{/if}}
				</div>
			</section>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
			{{>footer}}
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>		
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{#if cloudinaryResponsive}}
			<!--/////////////////////-->
			<!--CLOUDINARY RESPONSIVE-->
			<!--/////////////////////-->
			<script src="/js/cloudinary-core-shrinkwrap.js" type="text/javascript"></script>
			<script src="/js/cloudinary-responsive.js" type="text/javascript"></script>
		{{/if}}				
		
		{{#if lightbox}}
			<!--////////-->
			<!--LIGHTBOX-->
			<!--////////-->
			<script src="/js/ekko-lightbox.min.js" type="text/javascript"></script>		
			<script src="/js/lightbox-control.js" type="text/javascript"></script>
		{{/if}}

		{{#if carousel}}
			<!--////////-->
			<!--CAROUSEL-->
			<!--////////-->
			<script src="/js/carousel-control.js" type="text/javascript"></script>
		{{/if}}
		{{#if pageReloader}}
			<!--/////////////-->
			<!--PAGE RELOADER-->
			<!--/////////////-->
			<!--<script src="/js/page-reloader.js" type="text/javascript"></script>-->
		{{/if}}
		{{#if data.post.video}}
			{{#ifcontains data.post.video 'youtu'}}
			<!--//////////////////-->
			<!--YOUTUBE AUTOPLAYER-->
			<!--//////////////////-->
			<script src="/js/youtube-control.js" type="text/javascript"></script>
			{{else}}
				{{#ifcontains data.post.video 'vimeo'}}
				<!--////////////////-->
				<!--VIMEO AUTOPLAYER-->
				<!--////////////////-->			
				<script src="/js/vimeo-player.js"></script>
				<script src="/js/vimeo-control.js"></script>
				{{/ifcontains}}
			{{/ifcontains}}	
			<script src="/js/video-player-resizer.js" type="text/javascript"></script>
		{{/if}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
