<!DOCTYPE html>
<html>
	<head>
		<script>
		/*if (location.protocol == 'https:') location.href = 'http://www.euphoricblast.com/vr'; */
		</script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118755208-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-118755208-2');
		</script>
		<!--<script src='https://cdn.jsdelivr.net/npm/webvr-polyfill@latest/build/webvr-polyfill.js'></script>-->
		<script src="/js/aframe.1.0.4.min.js"></script>
		<!--<script src="/js/aframe-effects.min.js"></script>-->
		<!--<script src="/js/aframe-html-shader.min.js"></script>-->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<meta http-equiv="Cache-control" content="max-age=86400, public">-->

		<meta name="description" content="Experience our website in virtual reality. Browse all our projects in an interactive 3d world. Works on mobiles and all other platforms. Yeah, we're amazing and we never spill our tea." />
		<meta name="keywords" content="vr,website,virtual,reality,london,creative,studio,3d,webgl,aframe" />
		<meta name="author" content="Mangosh Prunier">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="7 days">
		<title>Euphoric Blast - VR Website</title>
		<!-- interactive design,virtual reality,3d -->

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=wAOJMa9XLG">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=wAOJMa9XLG">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=wAOJMa9XLG">
		<link rel="manifest" href="/sitevr.webmanifest?v=wAOJMa9XLG">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=wAOJMa9XLG" color="#333333">
		<link rel="shortcut icon" href="/favicon.ico?v=wAOJMa9XLG">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:title" content="Euphoric Blast - VR Website">
		<meta property="og:description" content="Experience our website in virtual reality. Browse all our projects in an interactive 3d world. Works on mobiles and all other platforms. Yeah, we're amazing and we never spill our tea.">
		<meta property="og:url" content="{{orginalURL}}">
		<meta property="og:image" content="http://www.euphoricblast.com/images/Euphoric_Blast-vr-project628.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@euphoric_blast">
		<meta name="twitter:creator" content="@euphoric_blast">
		<meta name="twitter:title" content="Euphoric Blast - VR Website">
		<meta name="twitter:description" content="Experience our website in virtual reality. Browse all our projects in an interactive 3d world. Works on mobiles and all other platforms. Yeah, we're amazing and we never spill our tea.">
		<meta name="twitter:image" content="http://www.euphoricblast.com/images/Euphoric_Blast-vr-project600.jpg">
		<meta http-equiv="origin-trial" content="AmPLLyuFVB/knjVzeZXgAU3hRBDlT5f8g2eL3unmh3/FtxlG9qX1fPIgtK9mZX+CD6l/SMDXFXuYdBNKXa4thwoAAABweyJvcmlnaW4iOiJodHRwczovL3d3dy5ldXBob3JpY2JsYXN0LmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViWFJEZXZpY2VNNjkiLCJleHBpcnkiOjE1NTE4MzAzOTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
		<link href="/styles/site.min.css" rel="stylesheet">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="/styles/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<header></header>
		<div id="{{bodyId}}">
			{{{body}}}
		</div>
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script async src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
		<script src="/js/cloudinary-responsive.js" type="text/javascript"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
