<script src="/socket.io/socket.io.js"></script>
<script src="/js/components/evil.js" type="text/javascript"></script>
<script src="/js/components/homecategory.js" type="text/javascript"></script>
<script src="/js/components/frame.js" type="text/javascript"></script>
<script src="/js/components/exit_frame.js" type="text/javascript"></script>
<script src="/js/components/chamber.js" type="text/javascript"></script>
<script src="/js/components/chamber_sign.js" type="text/javascript"></script>
<script src="/js/components/chamber_exit.js" type="text/javascript"></script>
<script src="/js/components/chamber_title.js" type="text/javascript"></script>
<script src="/js/components/chamber_video.js" type="text/javascript"></script>
<script src="/js/components/chamber_image.js" type="text/javascript"></script>
<script src="/js/components/text_plane.js" type="text/javascript"></script>
<script>
//TODO: check how it works if you select category then while it flies cut off internet so the post fails, it sohuld retry every 10 seconds the post //while in chamber
var socket,evil,outterRing,player,assets,cam,arrows,floor,chamber,projects,projectVideo,numOfProjects,numOfImages,catLoad,projectHasVideo=false,animCounter=0,category=0,projectIndex=-1,categories={{{jsonView data.categoriesNames}}},exiting=false,projectShown=false,originalPosition="-0.8 1.8 2.5",

speedMult=1.0;

var socket = io();
socket.on('projectsData', function (data) {
	projects=data;
	chamber.setAttribute("chamber","projects",projects);
	numOfProjects=projects.length;	
});
socket.on('projectVideo', function (data) {
	projectVideo=data.toString();
	evil.changeVideo(projectVideo);
});

function initfunc() {	
	outterRing=document.querySelector('#outter-ring');
	player=document.querySelector('#player');
	player.setAttribute("position",originalPosition);
	cam=player.querySelector('#main-camera');
	assets=document.querySelector('a-assets');
	evil=document.querySelector('[evil]');
	chamber=document.querySelector("#chamber");
	arrows=document.querySelector("#main-scene-arrows");
	floor=document.querySelector("#floor");
	if(evil!==null){
		evil=document.querySelector('[evil]').components.evil;	
	}else{
		setTimeout(initfunc,200);
	}
	player.addEventListener('animationcomplete', handlePlayerAnimations);	
}
window.onload = initfunc;

window.onresize = function() {
  var hi = window.innerHeight,wi = window.innerWidth;
  if (wi>hi){
  	if(wi<768)
  	{
  		cam.setAttribute("fov","40");
  	}else{
  		console.log("width more than 768 and more than height");
  		cam.setAttribute("fov","70");
  	}
  }else{
  		cam.setAttribute("fov","60");
  }
}
function handlePlayerAnimations(event){
	var animID=event.detail.name,pos;
	animID=animID.substring(11,animID.length);
	event.stopPropagation();
	if(animID=="move-cat-anim"){
		player.querySelector('#main-camera').setAttribute('near', 0.03);
		document.querySelector("#ambient-light").emit('fade-in',null,false);
		document.querySelector("#directional-light").emit('fade-out',null,false);
	    pos=evil.wrangleDestination(-3.33,4.386,-3.439,-1.156,.426,-4.230);
	    evil.createAnimation("move-tunnel-anim",player,"position","move-tunnel","move-tunnel-stop",pos,2000*speedMult,'linear');			
	    player.emit('move-tunnel',null,false);	    
	}else if(animID=="move-tunnel-anim"){
			arrows.object3D.visible=false;
			floor.object3D.visible=false;
			player.emit('move-corridor',null,false);
			document.querySelector('#corridor-01').emit('spin-corridor',null,false);
			document.querySelector('#corridor-02').emit('spin-corridor',null,false);
	}else if(animID=="move-corridor-anim"){
		if(projects==undefined){
			catLoad=document.querySelector("#chamber-loading");
			catLoad.emit("fade-in");			
		}
		evil.waitForProjects();
	}else if(animID=="move-exit-anim"){
		player.emit('move-vert',null,false);
	}else if(animID=="move-co-vert-anim"){
		player.emit('move-horz',null,false);
	}else if(animID=="move-co-horz-anim"){
		arrows.object3D.visible=true;
		floor.object3D.visible=true;
		player.object3D.position.set(-1, 5.4, 3);
		//player.object3D.rotation.set(THREE.Math.degToRad(0),THREE.Math.degToRad(0),THREE.Math.degToRad(0));
		var kink=document.querySelector("#kink"),
		corridorEnd=document.querySelector("#corridor-end"),
		kink2=chamber.querySelector("#chamber-kink-02"),
		cor2=chamber.querySelector("#chamber-corridor-02"),
		kink2Rot=kink2.getAttribute("rotation"),
		corRot=cor2.getAttribute("rotation"),
		chamberRot=chamber.getAttribute("rotation"),
		rotX=kink2Rot.x+chamberRot.x,
		rotY=kink2Rot.y+chamberRot.y,
		rotZ=kink2Rot.z+chamberRot.z,
		rotCorX=corRot.x+chamberRot.x,
		rotCorY=corRot.y+chamberRot.y,
		rotCorZ=corRot.z+chamberRot.z;
		
		kink.object3D.rotation.set(
		  THREE.Math.degToRad(rotX),
		  THREE.Math.degToRad(rotY),
		  THREE.Math.degToRad(rotZ)
		);	
		corridorEnd.object3D.rotation.set(
		  THREE.Math.degToRad(rotCorX),
		  THREE.Math.degToRad(rotCorY),
		  THREE.Math.degToRad(rotCorZ)
		);				
		kink.object3D.visible = true;
		corridorEnd.object3D.visible = true;

		evil.createAnimation("change-near",cam,"near","adjust-near","adjust-near-stop","0.1",2000,"linear");	    
	    cam.emit('adjust-near',null,false);
		player.emit('move-down',null,false);	
	}else if(animID=="move-co-down-anim"){
		evil.removePlayerAnimations();
		evil.resetChamber();
	}
}
</script>
<section id="aframe">
	<div id="aframe-container">
	<a-scene fog="type:linear; color:#ECECEC; near:0; far:8;">
			<!-- aframe-effects seems to be broken so for now this is removed:
			effects="ssao,fxaa" 
			ssao="samples:64;rings:5;radius:0.1; ratio:0.5; intensity: 1; bias:0.5;scale:1; blurRadius:2.5;depthCutoff: 15"
			
			fxaa="true"	film="sIntensity: 0.3; nIntensity: 0.1"
			fog="type:linear; color:#ECECEC; near:0; far:8;">-->
		<a-assets>
	    	<a-asset-item id="main-scene-model" src="/models/EB_main_scene02.glb"></a-asset-item>
	    	<a-asset-item id="main-scene-arrows-model" src="/models/EB_main_scene_arrows.glb"></a-asset-item>
	    	<a-asset-item id="screen" src="/models/EB_screen.glb"></a-asset-item>	    	
	    	<a-asset-item id="chamber-stage-model" src="/models/EB_chamber_stage.glb"></a-asset-item>
	    	<a-asset-item id="chamber-walls-model" src="/models/EB_chamber_walls.glb"></a-asset-item>
	    	<a-asset-item id="chamber-exit-model" src="/models/EB_chamber_exit.glb"></a-asset-item>
	    	<a-asset-item id="chamber-door-model" src="/models/EB_chamber_door.glb"></a-asset-item>
	    	<a-asset-item id="corridor" src="/models/EB_corridor.glb"></a-asset-item>
	    	<a-asset-item id="kink-model" src="/models/EB_kink.glb"></a-asset-item>
	    	<a-asset-item id="lecturn-model" src="/models/EB_lecturn.glb"></a-asset-item>
	    	<img id="category-background-mat" src="/images/category_back.jpg">    	
	    	<img id="category-background-hover" src="/images/category_back_hover.jpg">
	    	<img id="images-background-mat" src="/images/images_back_512x256.jpg">
	    	<img id="images-background-hover" src="/images/images_back_512x256.jpg">
	    	<img id="back-background-mat" src="/images/back_background_512x256.jpg">
	    	<img id="back-background-hover" src="/images/back_background_hover_512x256.jpg">
	    	<img id="exit-background-mat" src="/images/exit_background_1024x1024.jpg">
	    	<img id="exit-background-hover" src="/images/exit_background_hover_1024x1024.jpg">	    	
	    	<img id="video-placeholder-image" src="/images/loading_video.jpg">
	    	<img id="eb-logo" src="/images/eb_logo_512x512.jpg">	    	
	    	<!--<video id="project-video-file" mute autoplay loop><source src="/videos/small_video.mp4" "type"="video/mp4"></source></video>-->
		</a-assets>		
		<!--CAMERA, orignial position was -1 2.4 3 -->
		<a-entity id="player">
			<a-camera id="main-camera" position="0 0 0" wasd-controls-enabled="true" near=".1" fov="60">
				<a-entity id="curso" cursor="fuse: true; fuseTimeout: 3000" position="0 0 -1"
            	geometry="primitive: ring; radiusInner: 0.01; radiusOuter: 0.02"
            	material="color: black; shader: flat" 
            	raycaster="far: 20; interval: 100; objects: .clickable"></a-entity>            	
            	<a-ring id="outter-ring" position="0 0 -1" color="white" radius-inner="0.04" radius-outer="0.06" material="side: double;shader: flat" theta-length="0.1" animation="property:theta-length;startEvents:circle-reveal;pauseEvents:circle-stop;to:360;dur:3000;easing:linear"></a-ring>
            </a-camera>
		</a-entity>		
		<!--CATEGORIES-->	
		{{#each data.categories}}
		<a-entity class="category-container" homecategory="id:cat-{{add @index 1}};position:{{AFgetCategoriesPos @index 0 0}};rotation:{{AFgetCategoriesRot @index 0 0}};width:.69;height:.5;title:{{name}};index:{{add @index 1}};image:{{cloudinaryUrl (AFgetCategoriesImage ../data.featuredPosts name) width='512' height='256' q='70' crop='fill' gravity='center'}}"></a-entity>
		<a-box id="box-corridor-0{{add @index 1}}" class="box-corridors" depth="3" width=".4" height=".4" position="{{AFgetCorridorsPos @index -4.16 4.386 -4.877 -1.445 0.426 -5.865}}" rotation="{{AFgetCategoriesRot @index -144 -126}}" material="color: white"></a-box>
		{{/each}}
		<!--LECTURN-->
		<a-entity id="lecturn" position="0 0 1.3" gltf-model="#lecturn-model" material="roughness: 1; metalness: 0"></a-entity>		
		<!--LECTURN TITLE-->
		<a-entity rotation="-45 0 0" position="0.89 1.09 1.38" text="value: Work; width: 2; height: auto"></a-entity>
		<!--MAIN SCENE-->
		<a-entity id="main-scene" position="0 0 0" gltf-model="#main-scene-model" material="roughness: 1; metalness: 0"></a-entity>
		<a-entity id="main-scene-arrows" position="0 0 0" gltf-model="#main-scene-arrows-model" material="roughness: 1; metalness: 0"></a-entity>
		<a-box id="floor" depth="40" width="40" height=".4" position="0 -0.25 0" material="color: #666666;roughness: 1; metalness: 0"></a-box>
		<!--CORRIDORS-->
		<a-entity id="corridors" visible="false">
			<a-entity id="corridor-01" position="0 0 0.375" gltf-model="#corridor" material="roughness: 1; metalness: 0" animation="property:rotation; startEvents:spin-corridor;to:0 0 -180;dur:1000"></a-entity>
			<a-entity id="corridor-02" position="0 0 1.125" gltf-model="#corridor" material="roughness: 1; metalness: 0" animation="property:rotation; startEvents:spin-corridor;to:0 0 90;dur:1000"></a-entity>				
		</a-entity>
		<!--SKY-->
		<a-sky color="#ECECEC"></a-sky>		
		<!--LIGHTS-->
		<a-light id="ambient-light" type="ambient" color="#FFF" intensity="0.2" 
		animation="property:intensity;startEvents:fade-out;to:0.2;dur:2000;easing:linear"
		animation__2="property:intensity;startEvents:fade-in;to:0.4;dur:2000;easing:linear"></a-light>
		<a-light id="directional-light" color="#FFF" intensity="0.6" position="-0.5 1 1"
		animation="property:intensity;startEvents:fade-out;to:0.0;dur:2000;easing:linear"
		animation__2="property:intensity;startEvents:fade-in;to:0.6;dur:2000;easing:linear"></a-light>
		<!--CHAMBER-->
		<a-entity chamber="id:chamber;position:0 100 0" id="chamber">
			<!--<a-sphere radius="0.05" id="point-light-sphere" color="#fff" position="0 1 -1"></a-sphere>-->
			<a-light type="point" id="point-light" color="#FFF" intensity="1.0" position="0 1.5 -2.0" distance="3" 
			animation="property:intensity;startEvents:fade-out;to:0.0;dur:2000;easing:linear" 
			animation__2="property:intensity;startEvents:fade-in;to:1.0;dur:1000;easing:linear"></a-light>
		</a-entity>
		<a-entity id="kink" position="-1 5.4 3" gltf-model="#kink-model" material="roughness: 1; metalness: 0" visible="false">
			<a-entity id="poster" position="0 0 0.12" rotation ="0 180 0" geometry="primitive:plane;width:0.2;height:0.2;" material="src:#eb-logo;shader:flat"></a-entity>
		</a-entity>	
		<a-entity id="corridor-end" position="-1 4.876 3" rotation="0 0 0" gltf-model="#corridor" material="roughness: 1; metalness: 0" visible="false"></a-entity>
		<!-- RENDER HTML AS TEXTURE EXAMPLE
		<a-entity geometry="primitive:plane;width:.69;height:.5" position="0 0 0.003" material="shader:html;target:#category-back;fps:1;" class="category-background"></a-entity>-->
    </a-scene>
    <!-- RENDER HTML AS TEXTURE EXAMPLE		
	<div id="category-back" style="width: 512px; height: 256px; position: fixed; left: 500px; top: 0; z-index: -1; overflow: hidden;background-color:#333;">
		<div class="category-col">
				<div class="side-line"></div>
		</div>	
	</div>-->
</div>
</section>