<script src="/socket.io/socket.io.js"></script>
<script>
//TODO: remove all playertostring replace with "var pos"
//TODO: remove all animations once they are done and remove listeners associated with it like in killAllAnimations function
var category=0,outterRing,player,playerToString,par,projectIndex=0,projects,ch,projectVideo,
categories={{{jsonView data.categoriesNames}}};

/////////////////////////////////////
//SOCKET.IO Bullshit
/////////////////////////////////////
var socket = io();
socket.on('news', function (data) {
console.log("web socket says: "+data);
//socket.emit('fromClient', { my: 'data' });
});
socket.on('projectsData', function (data) {
projects=data;    
});
socket.on('projectVideo', function (data) {
projectVideo=data.toString();
});

/////////////////////////////////////
//ONLOAD Init function broh
/////////////////////////////////////
window.onload = function () {	
	outterRing=document.querySelector('#outter-ring');
	player=document.querySelector('#player');
	assets=document.querySelector('a-assets');
}

/////////////////////////////////////
//MAIN functions
/////////////////////////////////////
function createMoveAnim(id,to,dur,begin,ease,listener){
	var animation = document.createElement("a-animation");
		animation.setAttribute("id",id);
    	player.setAttribute('anim-listener','listener',listener);
        animation.setAttribute("attribute","position");            
        animation.setAttribute("to",to);
        animation.setAttribute("dur",dur);
        animation.setAttribute("begin",begin);
        animation.setAttribute("easing",ease); 
    	player.appendChild(animation);
}
function createCorridorAnim(obj,id,to,dur,begin,ease,listener){
	var broh="0 0 "+to;
	var animation = document.createElement("a-animation");
		animation.setAttribute("id",id);
    	obj.setAttribute('anim-listener','listener',listener);
        animation.setAttribute("attribute","rotation");            
        animation.setAttribute("to",broh);
        animation.setAttribute("dur",dur);
        animation.setAttribute("begin",begin);
        animation.setAttribute("easing",ease); 
    	obj.appendChild(animation);
}
function createChamber(event){
	var ch = document.createElement("a-entity");
		ch.setAttribute("id","chamber");
		var pos=wrangleDestination(-4.22,3.95,-4.97  ,-1.46,0.0,-5.95),
		rot=wrangleRotation(0,0);
    	ch.setAttribute("position",pos);                	
    	ch.setAttribute("rotation",rot);    
        event.target.sceneEl.appendChild(ch);

        var chdo = document.createElement("a-entity");
		chdo.setAttribute("id","chamber-door");
		chdo.setAttribute("gltf-model","#chamber-door-model");     
        ch.appendChild(chdo);

        var chst = document.createElement("a-entity");
		chst.setAttribute("id","chamber-stage");
		chst.setAttribute("gltf-model","#chamber-stage-model");     
        ch.appendChild(chst);

        var chex = document.createElement("a-entity");
		chex.setAttribute("id","chamber-exit");
		chex.setAttribute("position","0 0 0.5"); 
		chex.setAttribute("gltf-model","#chamber-exit-model");     
        ch.appendChild(chex);        

        var chwa = document.createElement("a-entity");
		chwa.setAttribute("id","chamber-walls");
		chwa.setAttribute("gltf-model","#chamber-walls-model");     
        ch.appendChild(chwa);

        var chfl = document.createElement("a-entity");
		chfl.setAttribute("id","chamber-floor");				
		chfl.setAttribute("geometry","primitive:plane;width:4;height:4");		
		chfl.setAttribute("position","0 -0.19 -2"); 
		chfl.setAttribute("rotation","-90 0 0");
    	chfl.setAttribute("material","color:#ffffff");   
    	ch.appendChild(chfl);
}
function createChamberObjects(event){
	ch=document.querySelector('#chamber');
	for(var i=0;i<projects.length;i++){
		var di = document.createElement("a-entity");
		di.setAttribute("id","display"+i);
		var pos = (-0.5+i%3*0.5)+" "+(.3+Math.floor(i/3)*0.3)+" "+(-1.95);
    	di.setAttribute("position",pos); 	
		var ba= document.createElement("a-entity");
		ba.setAttribute("id","project-background"+i);
		ba.setAttribute("class","project-backgrounds clickable");
		ba.setAttribute("geometry","primitive:plane;width:.46;height:.25875");		
		
    	ba.setAttribute("material","src:#category-back");   
    	ba.addEventListener('mouseenter', handleProjectEnter);
	    ba.addEventListener('mouseleave', handleProjectLeave);
    	ba.addEventListener('click', handleProjectClicked);

    	var te=document.createElement("a-entity");
		te.setAttribute("id","project-title"+i);			
		te.setAttribute("class","project-titles");
		te.setAttribute("text","value:"+projects[i].title+"; width: 1.2; height: auto; color: white;");
		te.setAttribute("position",".38 0.1 0.005");

		var im=document.createElement("a-image");
		im.setAttribute("id","project-image"+i);			
		im.setAttribute("class","project-images");
		im.setAttribute("src",wrangleImageSource(projects[i].mainImage));
		im.setAttribute("width",".39");
		im.setAttribute("height",".18");    				
		im.setAttribute("position","0 -0.022 .0001");

		var tean1 = document.createElement("a-animation");
		tean1.setAttribute("id","project-title-anim1-"+i);				
		tean1.setAttribute("attribute","position");		
		tean1.setAttribute("begin","project-clicked"); 
    	tean1.setAttribute("end","project-stop");
    	tean1.setAttribute("to",".5 0.2 0.005");
    	tean1.setAttribute("dur","2000");    	

		var dian1 = document.createElement("a-animation");
		dian1.setAttribute("id","project-anim1-"+i);				
		dian1.setAttribute("attribute","position");		
		dian1.setAttribute("begin","project-clicked"); 
    	dian1.setAttribute("end","project-stop");    	
    	dian1.setAttribute("to","-0.5 0.9 -1.95");
    	dian1.setAttribute("dur","2000");

    	var dian2 = document.createElement("a-animation");
		dian2.setAttribute("id","project-anim2-"+i);				
		dian2.setAttribute("attribute","position");		
		dian2.setAttribute("begin","fade-out"); 
    	dian2.setAttribute("end","fade-stop");
    	var fadePos = (-0.5+i%3*0.5)+" "+(.3+Math.floor(i/3)*0.3)+" "+(-3.0);
    	dian2.setAttribute("to",fadePos);
    	dian2.setAttribute("dur","2000");

    	var baan1 = document.createElement("a-animation");
		baan1.setAttribute("id","back-anim1-"+i);				
		baan1.setAttribute("attribute","scale");		
		baan1.setAttribute("begin","fade-out"); 
    	baan1.setAttribute("end","fade-stop");
    	baan1.setAttribute("to","0 0 0");
    	baan1.setAttribute("dur","2000");

    	var dian3 = document.createElement("a-animation");
		dian3.setAttribute("id","back-anim1-"+i);				
		dian3.setAttribute("attribute","scale");		
		dian3.setAttribute("begin","fade-out"); 
    	dian3.setAttribute("end","fade-stop");
    	dian3.setAttribute("to","0 0 0");
    	dian3.setAttribute("dur","2000");
    			
        ch.appendChild(di);
        di.appendChild(ba);
        ba.appendChild(baan1); 
        di.appendChild(te);
        te.appendChild(tean1);
        di.appendChild(im);
        di.appendChild(dian1); 
        di.appendChild(dian2); 
        di.appendChild(dian3);
	}			
		var ti=document.createElement("a-entity");
		ti.setAttribute("id","chamber-title");					
		ti.setAttribute("text","align:center; value:"+categories[category-1]+"; width: 1.6; height: auto; color: white;");		
		ti.setAttribute("position","0 0.04 -1.45");

		var tiB = document.createElement("a-entity");
		tiB.setAttribute("id","chamber-title-background");				
		tiB.setAttribute("geometry","primitive:plane;width:.66;height:.17");		
		tiB.setAttribute("position","-.0005 .0375 -1.45"); 
    	tiB.setAttribute("material","color:#333");    
		
		ch.appendChild(ti);
		ch.appendChild(tiB);
	for(var i=1;i<categories.length;i++){
	var ca = document.createElement("a-entity");
		ca.setAttribute("id","category"+i);		
		ca.setAttribute("class","category-background clickable");
		ca.setAttribute("geometry","primitive:plane;width:.46;height:.25875");		
		var pos = 1.8+" "+(0.6+Math.floor(i/4)*-0.3)+" "+(-1.95+i%4*0.5);		
    	ca.setAttribute("position",pos); 
    	ca.setAttribute("rotation","0 -90 0");
    	ca.setAttribute("material","src:#category-back");  
        ca.addEventListener('mouseenter', handleProjectEnter);
	    ca.addEventListener('mouseleave', handleProjectLeave);
    	ca.addEventListener('click', handleProjectClicked);
    	var cate=document.createElement("a-entity");
		cate.setAttribute("id","project-category-title"+i);			
		cate.setAttribute("class","project-category-titles");
		cate.setAttribute("text","value:"+categories[i]+"; width: 1.2; height: auto; color: white;");
		cate.setAttribute("position",".38 0.1 0.005");

		/*var caim=document.createElement("a-image");
		caim.setAttribute("id","project-image"+i);			
		caim.setAttribute("class","project-images");
		caim.setAttribute("src",wrangleImageSource(projects[i].mainImage));
		caim.setAttribute("width",".39");
		caim.setAttribute("height",".18");    				
		caim.setAttribute("position","0 -0.022 .0001");*/

        ch.appendChild(ca);
        ca.appendChild(cate);
        /*ca.appendChild(caim);*/        
	}

	var cati=document.createElement("a-entity");
		cati.setAttribute("id","project-categories-title");					
		cati.setAttribute("text","align:left; value:Other\nsections:; width: 2.5; height: auto; color: white;");		
		cati.setAttribute("position","1.8 .6 -.94");
		cati.setAttribute("rotation","0 -90 0");
		ch.appendChild(cati);

	var caba = document.createElement("a-entity");
		caba.setAttribute("id","chamber-categories-background");				
		caba.setAttribute("geometry","primitive:plane;width:2.15;height:1.2");		
		caba.setAttribute("position","1.85 .23 -1.22"); 
		caba.setAttribute("rotation","0 -90 0");
    	caba.setAttribute("material","color:#ffc800");   
    	ch.appendChild(caba);  

    var exba = document.createElement("a-entity");
		exba.setAttribute("id","chamber-exit-background");				
		exba.setAttribute("geometry","primitive:plane;width:.6;height:1.3");		
		exba.setAttribute("position","-1.85 0.7 -1.97"); 
		exba.setAttribute("rotation","0 90 0");
    	exba.setAttribute("material","color:#333");   
    	exba.setAttribute("class","clickable");
        exba.addEventListener('mouseenter', handleExitEnter);
	    exba.addEventListener('mouseleave', handleExitLeave);
    	exba.addEventListener('click', handleExitClicked);
    	ch.appendChild(exba);

    var exti=document.createElement("a-entity");
		exti.setAttribute("id","project-exit-title");					
		exti.setAttribute("text","align:left; value:EXIT; width: 6; height: auto; color: white;");		
		exti.setAttribute("position","-1.8 3.4 -1.97");
		exti.setAttribute("rotation","0 90 90");
		ch.appendChild(exti);    	 	
}
function createCorridors(event){
	var sce=event.target.sceneEl;
	sce.removeChild(sce.querySelector('#corridor-0'+category));
	var ch = document.createElement("a-entity");
		ch.setAttribute("id","corridors");
		playerToString=wrangleDestination(-4.16,4.386,-4.877,-1.445,.426,-5.865);		
		var playerRotation=wrangleRotation(-135,-135);		
    	ch.setAttribute("position",playerToString);
    	ch.setAttribute("rotation",playerRotation);          
        event.target.sceneEl.appendChild(ch);
        for(var i=0;i<2;i++){
	        var co = document.createElement("a-entity");
			co.setAttribute("id","chamber-corridor-0"+(i+1));
			co.setAttribute("position","0 0 "+(-1.125+(i+2)*.75));            
	        co.setAttribute("gltf-model","#corridor");
	        createCorridorAnim(co,'corridor-anim-0'+(i+1),180,1000,'go-corridor-anim-0'+(i+1),'linear','handleCorridorRotation');			
	        ch.appendChild(co);	        
        }        
}
function killPreviousAnimation(animation){
	var prevAnim=player.querySelector(animation);    	
 	player.removeChild(prevAnim);
 	player.removeAttribute('anim-listener');
}

/////////////////////////////////////
//WRANGLE fucking functions
/////////////////////////////////////
function wrangleDestination(x1,y1,z1,x2,y2,z2){
		var x=x1,y=y1,z=z1,modCat=(category-1)%4;
		if(category>5) y=y2;
		if(modCat>0&&modCat<3) {x=x2;z=z2;}
		if(modCat>1)x*=-1;
		return x+" "+y+" "+z+" ";
}
function wrangleRotation(z1,z2){
	var modCat=(category-1)%4,y=30,z=z1;
		if(modCat>0&&modCat<3) y=10;
		if(modCat>1) {y*=-1;z=z2;}
		return 0+" "+y+" "+z;
}
function wrangleImageSource(source){
	//from:
	//euphoricblast/6tutuytutu/euphoricblast-6tutuytutu-mainImage-1523467012837

	//to:
	//http://res.cloudinary.com/dtrroywwa/image/upload/c_fill,g_center,h_328,w_auto/v1/euphoricblast/6tutuytutu/euphoricblast-6tutuytutu-mainImage-1523467012837.jpg
	var result="http://res.cloudinary.com/dtrroywwa/image/upload/c_crop,g_center,h_256,w_512/v"+source.version+"/"+source.public_id+".jpg";
	return result;
}

/////////////////////////////////////
//EVENT Handlers
/////////////////////////////////////
function handleCatEnter () {
	par=this.parentElement;
	par.querySelector('.category-background').setAttribute('material','src','#category-back-hover');
	par.querySelector('.category-title').setAttribute('text','color','black');
	outterRing.emit('circle-reveal',null,false);    	
	var imageChild=par.querySelector('.category-image');
	if(imageChild!==null){
		imageChild.emit('hover',null,false);    		
	}
}
function handleCatLeave () {
	par=this.parentElement;
	par.querySelector('.category-background').setAttribute('material','src','#category-back');
	par.querySelector('.category-title').setAttribute('text','color','white');
	outterRing.emit('circle-stop',null,false);
	outterRing.setAttribute('theta-length', 0);
	var imageChild=par.querySelector('.category-image');
	if(imageChild!==null){
  		imageChild.emit('hover-stop',null,false);  		
  		imageChild.setAttribute('scale', '1 1 1');
	}
}
function handleProjectEnter () {
	this.setAttribute('material','src:#category-back-hover');
	outterRing.emit('circle-reveal',null,false);	
}
function handleProjectLeave () {
	this.setAttribute('material','src:#category-back');
	outterRing.emit('circle-stop',null,false);
	outterRing.setAttribute('theta-length', 0);
}
function handleExitEnter () {
	this.setAttribute('material','color:#fff');
	outterRing.emit('circle-reveal',null,false);	
}
function handleExitLeave () {
	this.setAttribute('material','color:#333');
	outterRing.emit('circle-stop',null,false);
	outterRing.setAttribute('theta-length', 0);
}
function handleCorridorRotation () {
	console.log("finished rotating the corridor");
}
function handleCatClicked (event) {
    par=this.parentElement;
    console.log('I was clicked at: ', event.detail.intersection.point);
    //TODO: only works with up to 9 CATEGORIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	category=Number(par.id.charAt(4));
	getCategoryData(event);
	par.querySelector('.category-background').setAttribute('material','src','#category-back-hover');
	//TODO: Reset this
	par.querySelector('.category-background').setAttribute('material', 'color', '#fcc800');
	var imageContainer = par.querySelector('.category-image-container');
	if(imageContainer!==null){
		par.querySelector('.category-image-container').emit('clicked');	
	}else{
		par.querySelector('.category-background-container').emit('clicked');
		par.querySelector('.category-title').setAttribute('visible','false');
	}
	var allButtons=document.querySelectorAll('.category-button')
	for(var i=0;i<allButtons.length;i++){
		allButtons[i].removeAttribute('category-listener');
		allButtons[i].classList.remove("clickable");
	}	
	outterRing.emit('circle-stop');
	outterRing.setAttribute('theta-length', 0);
	var playerTo=par.getAttribute('position');
	//TODO: find more elegant way of doing this... maybe
	playerToString=playerTo.x+" "+playerTo.y+" "+playerTo.z;
	createMoveAnim('move-cat-anim',playerToString,4000,'move-cat','linear','handleCatFly');
	player.emit('move-cat');
}
function handleProjectClicked (event) {
	var parent=event.target.parentNode,
    projectId=parent.id;
    if(parent.id.length<9) projectIndex=Number(projectId.charAt(7));
    if(parent.id.length>8) projectIndex=Number(projectId.charAt(7)+projectId.charAt(8));
    outterRing.emit('circle-stop');
	outterRing.setAttribute('theta-length', 0);
	$(".project-backgrounds").each(function(i,val){		
		if(i!=projectIndex){
			val.parentNode.emit('fade-out',null,false);
		}
	});
	parent.emit('project-clicked',null,false); 	
	parent.querySelector(".project-titles").setAttribute('anim-listener','listener',handleProjectRevealAnim);
	parent.querySelector(".project-titles").emit('project-clicked',null,false); 	
	parent.querySelector(".project-backgrounds").emit('fade-out',null,false);
	getProjectVideo(event,projects[projectIndex].video);	
}
function handleProjectRevealAnim(){
	var videoFile=document.querySelector("#project-video-file");
	if(videoFile!==null) videoFile.remove();
	
	var vifi=document.createElement("video");
		vifi.setAttribute("id","project-video-file");
		vifi.setAttribute("autoplay","");
		vifi.setAttribute("mute","");
		vifi.setAttribute("loop","true");
		vifi.setAttribute("src",projectVideo);	
	assets.appendChild(vifi);

	var vi=document.createElement("a-video");
		vi.setAttribute("src","#project-video-file");	
		vi.setAttribute("id","project-video");
		vi.setAttribute("width",".7");
		vi.setAttribute("height","0.39375");
		vi.setAttribute("position","-0.8 0.3 -1.6");
		vi.setAttribute("rotation","0 45 0");
	ch.appendChild(vi);
	

}
function handleExitClicked (event) {
    outterRing.emit('circle-stop',null,false);
	outterRing.setAttribute('theta-length', 0);
	//player.emit('move-cat');
}
function handleCatAnim (event) {
	par=this.parentElement;	var classes=event.target.classList;
	if(classes.contains("clicked-image")){		
		par.querySelector('.category-background-container').emit('clicked',null,false);
		par.querySelector('.category-title').setAttribute('visible','false');
	}  else if(classes.contains("clicked-background")){		
		var screensArr=par.querySelectorAll('.category-screens');
    	for(var i=0;i<screensArr.length;i++){
    		screensArr[i].emit('clicked',null,false);
		}
	} 
}
function handleCatFly (event) {
	console.log("finished cat flying ");	
    killPreviousAnimation('#move-cat-anim');
    player.querySelector('#main-camera').setAttribute('near', 0.03);
    playerToString=wrangleDestination(-3.33,4.386,-3.439,-1.156,.426,-4.230);
    createMoveAnim('move-tunnel-anim',playerToString,4000,'move-tunnel','linear','handleTunnelFly');
    createCorridors(event);
    player.emit('move-tunnel',null,false);
}	
function handleTunnelFly (event) {
	console.log("finished flying the tunnel");   
    killPreviousAnimation('#move-tunnel-anim');
    playerToString=wrangleDestination(-4.525,4.386,-5.508,-1.571,.426,-6.581);
    createMoveAnim('move-corridor-anim',playerToString,4000,'move-corridor','linear','handleCorridorFly');
    createChamber(event);
    player.emit('move-corridor',null,false);
    document.querySelector('#chamber-corridor-01').emit('go-corridor-anim-01',null,false);
    //document.querySelector('#chamber-corridor-02').emit('go-corridor-anim-02');
}
function handleCorridorFly (event) {
	console.log("finished flying the corridor");
	killPreviousAnimation('#move-corridor-anim');
	createChamberObjects(event);
}

/////////////////////////////////////
//AJAX bullshit
/////////////////////////////////////
function getCategoryData(evt){	
	$.ajax({
      type: 'POST',
      data: {
        message: "next_page_yo",
        cat: category
      },
      dataType: 'json'
	});
}
function getProjectVideo(evt,videoURL){	
	$.ajax({
      type: 'POST',
      data: {
        message: "scrape_the_fuck_outta_vimeo",
        originalVideoURL: videoURL
      },
      dataType: 'json'
	});
}

/////////////////////////////////////
//AFRAME custom component
/////////////////////////////////////
AFRAME.registerComponent('log', {
  schema: {type: 'string'},
  init: function () {
    var stringToLog = this.data;
    console.log(stringToLog);
  }
});
AFRAME.registerComponent('anim-listener', {
	schema: {listener:{type: 'string'}},
	remove: function () {
		this.el.removeEventListener('animationend',eval(this.data.listener)); 
	},
	init: function () {		
		this.el.addEventListener('animationend',eval(this.data.listener)); 
	}
});  
AFRAME.registerComponent('category-listener',{
	remove: function () {
		this.el.removeEventListener('mouseenter', handleCatEnter);
	    this.el.removeEventListener('mouseleave', handleCatLeave);
    	this.el.removeEventListener('click', handleCatClicked);
	},
  	init: function () {
  		this.el.addEventListener('mouseenter', handleCatEnter);
	    this.el.addEventListener('mouseleave', handleCatLeave);
    	this.el.addEventListener('click', handleCatClicked);
	}
});
</script>
<section id="a-frame">
	<a-scene stats light="defaultLightsEnabled: false" effects="ssao,fxaa,film" 
			ssao="samples:32;rings:7;radius:.03; ratio:1; intensity: 0.5; maxDepth:.99;bias:.05;scale:1; blurRadius:5;depthCutoff: 1000"
			fxaa="true"	film="sIntensity: 0.3; nIntensity: 0.1"
			fog="type:linear; color:#ECECEC; near:0; far:8;">
		<a-assets>
	    	<a-asset-item id="main-scene" src="/models/EB_main_scene.glb"></a-asset-item>
	    	<a-asset-item id="screen" src="/models/EB_screen.glb"></a-asset-item>	    	
	    	<a-asset-item id="chamber-stage-model" src="/models/EB_chamber_stage.glb"></a-asset-item>
	    	<a-asset-item id="chamber-walls-model" src="/models/EB_chamber_walls.glb"></a-asset-item>
	    	<a-asset-item id="chamber-exit-model" src="/models/EB_chamber_exit.glb"></a-asset-item>
	    	<a-asset-item id="chamber-door-model" src="/models/EB_chamber_door.glb"></a-asset-item>
	    	<a-asset-item id="corridor" src="/models/EB_corridor.glb"></a-asset-item>
	    	<img id="category-back" src="/images/category_back.jpg"></a-asset-item>
	    	<img id="category-back-hover" src="/images/category_back_hover.jpg"></a-asset-item>
		</a-assets>		
		<!--CAMERA-->
		<a-entity position="-1 2.4 3" id="player">
			<a-camera id="main-camera" wasd-controls-enabled="true" near=".1" fov="70">
				<a-entity id="curso" cursor="fuse: true; fuseTimeout: 2000" position="0 0 -1"
            	geometry="primitive: ring; radiusInner: 0.01; radiusOuter: 0.02"
            	material="color: black; shader: flat" 
            	raycaster="far: 20; interval: 100; objects: .clickable"></a-entity>
            	<a-ring id="outter-ring" position="0 0 -1" color="white" radius-inner="0.04" radius-outer="0.06" material="shader: flat" theta-length="0">
            		<a-animation id="circle-reveal" attribute="theta-length" begin="circle-reveal" end="circle-stop" to="360" dur="2000" easing="linear"></a-animation>
            	</a-ring>
			</a-camera>			
		</a-entity>		
		<!--CATEGORIES-->	
		{{#each data.categories}}
		<a-entity class="category-container" id="cat-{{add @index 1}}" position="{{AFgetCategoriesPos @index 0 0}}" rotation="{{AFgetCategoriesRot @index 0 0}}">
			<!--CATEGORY PLANE-->	
			<a-entity category-listener class="category-button clickable" geometry="primitive:plane;width:.69;height:.5" position="0 0 0.003" visible="false"></a-entity>
			<a-entity anim-listener="listener:handleCatAnim" class="category-background-container" position="0 -.25 0.003">
				<a-entity class="category-background" geometry="primitive:plane;width:.69;height:.5" position="0 .25 0" material="src:#category-back"></a-entity>
				<a-animation class="clicked-background" attribute="scale" begin="clicked" end="clicked-stop" from="1 1 1" to="1 0 1" dur="400" easing="linear"></a-animation>
			</a-entity>			
			<!--CATEGORY SCREENS-->	
			<a-entity class="category-screens" position="-.345 0.25 -0.014" gltf-model="#screen" material="roughness: 1; metalness: 0">
				<a-animation class="clicked-screen" attribute="scale" begin="clicked" end="clicked-stop" from="1 1 1" to="0 0 1" dur="500" easing="linear"></a-animation>
			</a-entity>
			<a-entity class="category-screens" position=".345 -0.25 -0.014" rotation="0 0 180" gltf-model="#screen" material="roughness: 1; metalness: 0">
				<a-animation class="clicked-screen" attribute="scale" begin="clicked" end="clicked-stop" from="1 1 1" to="0 0 1" dur="500" easing="linear"></a-animation>
			</a-entity>
			<!--CATEGORY TITLE-->	
			<a-entity class="category-title" position=".54 0.18 0.005" text="value: {{name}}; width: 1.7; height: auto; color: white;"></a-entity>			
			{{#each ../data.featuredPosts}}
				{{#ifPostIsInCategory categories ../name}}
					{{#if mainImage.exists}}	
						<!--CATEGORY IMAGE-->
						<a-entity anim-listener="listener:handleCatAnim" class="category-image-container" position="0 .1355 0.0031" material="src:#category-back">
							<a-image class="category-image" src="{{cloudinaryUrl mainImage width='960' height='540' q='70' crop='fill' gravity='center'}}" width=".6" height=".3375" position="0 -.1755 0">
							<a-animation class="hover" attribute="scale" begin="hover" end="hover-stop" from="1 1 1" to="1.07 1.04 1.07" dur="400" easing="linear"></a-animation>
							</a-image>
							<a-animation class="clicked-image" attribute="scale" begin="clicked" end="clicked-stop" to="1 0 1" dur="500" easing="linear"></a-animation>
						</a-entity>
					{{/if}}	
				{{/ifPostIsInCategory}}
			{{/each}}					
		</a-entity>
		<a-box id="corridor-0{{add @index 1}}" depth="3" width=".4" height=".4" position="{{AFgetCorridorsPos @index -4.16 4.386 -4.877 -1.445 0.426 -5.865}}" rotation="{{AFgetCategoriesRot @index -144 -126}}" material="color: white"></a-box>
		{{/each}}
		<!--SECTION TITLES-->
		<a-entity rotation="-45 0 0" position=".89 .99 1.365" text="value: Work; width: 2; height: auto"></a-entity>
		<!--MAIN SCENE-->
		<a-entity id="main-scene" position="0 0 0" gltf-model="#main-scene" material="roughness: 1; metalness: 0"></a-entity>		
		<!--SKY-->
		<a-sky color="#ECECEC"></a-sky>		
		<!--LIGHTS-->
		<a-entity light="type: ambient; color: #BBB; intensity: 0.6"></a-entity>
		<a-entity light="type: directional; color: #FFF; intensity: 0.6" position="-0.5 1 1"></a-entity>
		<!-- RENDER HTML AS TEXTURE EXAMPLE
		<a-entity geometry="primitive:plane;width:.69;height:.5" position="0 0 0.003" material="shader:html;target:#category-back;fps:1;" class="category-background"></a-entity>-->
    </a-scene>
    <!-- RENDER HTML AS TEXTURE EXAMPLE		
	<div id="category-back" style="width: 512px; height: 256px; position: fixed; left: 500px; top: 0; z-index: -1; overflow: hidden;background-color:#333;">
		<div class="category-col">
				<div class="side-line"></div>
		</div>	
	</div>-->
</section>