{{#or data.post.content.brief (and data.post.mainImage.exists data.post.mainImageShow)}}
<section id="section-home-page-header">
<!--|||||||||||||||||||||||| -->
<!--PAGE TEXT + IMAGE AT TOP -->
<!--|||||||||||||||||||||||| -->
<div class="container-fluid background grey">
	<div class="row">
		<div class="container text-container">
			<div class="row page-header-row">
				<div class="col-sm-12 col-md-12 text-col">
					{{#if data.post.content.brief}}<h3>{{{data.post.content.brief}}}</h3>{{/if}}
					{{#if data.post.content.extended}}{{{data.post.content.extended}}}{{/if}}
					{{#and data.post.mainImage.exists data.post.mainImageShow}}<img class="cld-responsive img-responsive" data-src="{{cloudinaryUrl data.post.mainImage width='auto' height=202 q='70' crop='fill' gravity='center'}}"/>{{/and}}
					<div class="logo-container">{{>logo-svg}}</div>
				</div>				
			</div>
		</div>
	</div>
</div>
</section>	
{{/or}}
{{#if data.post.video}}

<!--||||||||||| -->
<!--HOME VIDEOH -->
<!--||||||||||| -->

	<div class="container-fluid background dark-grey">
		<div class="row">
			<div class="container large-video-container">
				<div class="row">					
					<div class="col-sm-12 col-md-8 col-lg-8 large-video-col">
							<iframe id="euphoric-video" src="{{getVideoURL data.post.video}}" width="100%" height="100%" frameborder="0" loop="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>				
					<div class="col-sm-12 col-md-4 col-lg-4 large-video-col">
						{{#if data.post.content.more}}<h3 class="content-brief">{{{data.post.content.more}}}</h3>{{/if}}
						{{#if data.post.content.extra}}<span class="content-extra">{{{data.post.content.extra}}}</span>{{/if}}
						{{>categories-small}}
					</div>				
				</div>
			</div>
		</div>
	</div>	
{{/if}}
