<div class="container post-title-container">	
	<i class="glyphicon glyphicon-stop title-square"></i>
	{{#if filters.category}}
	<h1 class="page-title"><a href="{{sectionURL section}}">{{section}}</a></h1>
	<h2 class="category-title"><span class="pipe">|</span><span class="pipe right">--</span><span class="category-title-text">{{data.category.name}}</span></h2>
	{{else}}
	<h1 class="page-title">{{section}}</h1>
	{{/if}}
</div>