<div class="container post-title-container">	
	<!--<i class="glyphicon glyphicon-stop title-square"></i>-->
	{{>drop-cap-svg}}
	{{#if filters.category}}
	<h1 class="page-title"><a href="{{sectionURL section}}">{{section}}</a></h1>
	<h2 class="category-title">
		<div class="spacer"></div>
		<div class="category-title-text">{{data.category.name}}</div>
	</h2>
	{{else}}
	<h1 class="page-title">{{section}}</h1>
	{{/if}}
</div>