<div class="container page-title-container {{#if filters.category}}category-on{{else}}category-off{{/if}}">	
	{{>drop-cap-svg}}{{#if filters.category}}<h1 class="page-title"><a href="{{sectionURL section}}">{{section}}</a></h1><h2 class="category-title"><div class="spacer mobile-hide"></div><div class="category-title-text">{{data.category.name}}</div></h2>{{>drop-cap-mobile-simple-svg}}{{else}}<h1 class="page-title">{{section}}</h1>{{/if}}
</div>