{{#if data.post.video}}

<!--||||||||||| -->
<!--VIDEOH BROH -->
<!--||||||||||| -->

	<div class="container-fluid background grey">
		<div class="row">
			<div class="container video-container">
				<div class="row">
					<div class="col-sm-12 col-md-4 video-col">
							<iframe id="euphoric-video" src="{{getVideoURL data.post.video}}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				{{#ifcontains data.post.video 'youtu'}}					
					<div class="col-sm-12 col-md-8 video-col">
						{{#if data.post.content.brief}}<h3>{{{data.post.content.brief}}}</h3>{{/if}}						
						{{#if data.post.mainImage.exists}}<img class="cld-responsive img-responsive" data-src="{{cloudinaryUrl data.post.mainImage width='auto' height='177' q='70' crop='fill' gravity=data.post.mainImageCrop}}"/>{{/if}}
						{{>visit-website-header}}
					</div>
				{{else}}
					{{#ifcontains data.post.video 'vimeo'}}					
					<div class="col-sm-12 col-md-8 video-col vimeo-fix">
						{{#if data.post.content.brief}}<h3>{{{data.post.content.brief}}}</h3>{{/if}}						
						{{#if data.post.mainImage.exists}}<img class="cld-responsive img-responsive" data-src="{{cloudinaryUrl data.post.mainImage width='auto' height='202' q='70' crop='fill' gravity=data.post.mainImageCrop}}"/>{{/if}}
						{{>visit-website-header}}
					</div>
					{{/ifcontains}}
				{{/ifcontains}}	
				</div>
			</div>
		</div>
	</div>	
{{else}}
	
{{#or data.post.content.brief (and data.post.mainImage.exists data.post.mainImageShow)}}
	<!--|||||||||||||||||||||||| -->
	<!--PAGE TEXT + IMAGE AT TOP -->
	<!--|||||||||||||||||||||||| -->

	<div class="container-fluid background grey">
		<div class="row">
			<div class="container text-container">
				<div class="row">
					<div class="col-sm-12 col-md-12 text-col">
					{{#if data.post.content.brief}}<h3>{{{data.post.content.brief}}}</h3>{{/if}}
					{{#and data.post.mainImage.exists data.post.mainImageShow}}<img class="cld-responsive img-responsive" data-src="{{cloudinaryUrl data.post.mainImage width='auto' height='202' q='70' crop='fill' gravity=data.post.mainImageCrop}}"/>{{/and}}
					{{>visit-website-header}}
				</div>
				</div>
			</div>
		</div>
	</div>
	{{/or}}
{{/if}}
{{#or data.post.content.extended data.post.content.more}}
<div class="container-fluid background light-grey">
		<div class="row">
			<div class="container text-container">
				<div class="row">
					{{#and data.post.content.extended data.post.content.more}}
					<div class="col-sm-8 col-md-8 text-col">
						{{{data.post.content.extended}}}
					</div>
					<div class="col-sm-4 col-md-4 text-col">
						{{{data.post.content.more}}}
						{{>read-more}}
					</div>
					{{else}}
						{{#if data.post.content.extended}}
							<div class="col-sm-12 col-md-12 text-col">
								{{{data.post.content.extended}}}
							</div>
						{{else}}
							<div class="col-sm-12 col-md-12 text-col">
								{{{data.post.content.more}}}
								{{>read-more}}
							</div>
						{{/if}}
					{{/and}}					
				</div>
			</div>
		</div>
	</div>
{{/or}}
