<div class="container">	
	<i class="glyphicon glyphicon-stop title-square"></i>
	<!-- USE tidyAndCapitalise data.post.type instead in line below if your data.post.type can be two words -->
	<h1 class="page-title"><a href="{{sectionURL data.post.type}}">{{capitalise data.post.type}}</a></h1>
	{{#if filters.category}}
	<h2 class="category-title">&nbsp;<span class="pipe">|</span><span class="pipe right">--</span>&nbsp;<a href="{{categoryUrl filters.category data.post.type}}">{{tidyAndCapitalise filters.category}}</a></h2>
	{{/if}}
	<h2 class="category-title post-title"><span class="pipe">|</span><span class="pipe kink">¬¬</span>&nbsp;<span class="post-title">{{data.post.title}}</span></h2>	
</div>
